In [1]:
import os
os.chdir('/home/chapmaca/Projects/pointcloudclassifier')
import sklearn
import numpy as np
import pandas as pd
import references.classifications as classifications

In [ ]:
raw_filepath = './data/raw/training/oakland_part3_an_training.xyz_label_conf'
raw_data = pd.read_csv(raw_filepath, sep = ' ',
                   header=0, names=['X', 'Y', 'Z', 'label', 'conf'])
raw_data.head()

In [ ]:
raw_npy = './data/interim/raw.npy'
npdata = raw_data[['X','Y','Z', 'label']].to_records(index=False)
np.save(raw_npy, npdata)

In [20]:
from src.classes.PDALObject import PDALObject
from references.resources import test_pipe
po = PDALObject(raw_npy)
po.set_json_pipeline(test_pipe)
pole_data = './data/processed/pole_data.txt'
po.outfile = pole_data
po.execute()

NameError: name 'raw_npy' is not defined

In [10]:
data = np.load('./data/interim/full.npy')

In [12]:
data.dtype.names = ['X', 'Y', 'Z', 'label', 'conf']
np.save('./data/interim/full.npy', data)

In [13]:
df = pd.DataFrame(data)
df.head()

            X          Y      Z  label  conf
0 -385.709991 -90.550003 -11.22   1113     2
1 -385.809998 -90.250000 -11.58   1113     2
2 -385.649994 -90.360001 -11.19   1113     2
3 -385.809998 -90.230003 -10.91   1113     2
4 -385.529999 -90.220001 -11.57   1113     2

In [21]:
from src.classes.PDALObject import PDALObject
from references.resources import test_pipe
po = PDALObject('./data/interim/full.npy')
po.set_json_pipeline(test_pipe)

po.outfile = './data/processed/pole_data_full.txt'

po.execute()

In [18]:
sum(y)

4459